nav {
    background: linear-gradient(to bottom, #FF0000, #FFFFFF);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 60px; /* Ajusta el tamaño máximo de tu logo */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.nav-links a:hover {
    background: #f89898d2;
}

.contact-cart {
    display: flex;
    align-items: center;
}

.contact-cart a {
    color: #fff;
    text-decoration: none;
    padding-right: 40px;
}

.cart-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer; /* Agrega un cursor para indicar que es interactivo */
}
