/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(138, 3, 3);
    padding: 10px;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;

}

.logo img {
    max-width:10%;
    height: auto;
    padding-left: 30%;
}

/* Contenedor de elementos de navegación */
.nav-items {
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-left: auto;
    width: fit-content;
    padding-right:  10%;
    margin-top: 0%;
    padding-top: 0%;
     /* Hace que los elementos ocupen el espacio restante */
}

/* Contenedor superior de elementos de navegación */
.top-nav {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    padding-right: 10px;
    width: fit-content;


}
.shopcart{
    background-color: rgba(250, 168, 168, 0.514);
    padding-top: 0%;
}
/* Contenedor del carrito de compras */
.cart {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.cart a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.top-nav img {
    max-width: 30px; /* Tamaño del carrito de compras */
    height: auto;
    margin-right: 5px;
}

.cart-counter {
    background-color: #ff2323;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 5px;

}
/* Contenedor inferior de elementos de navegación */
.bottom-nav {
    display: flex;
    align-items: center;
}

/* Barra de búsqueda */
.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

.search-box button {
    background-color: #8a0303;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    align-content: center;
    align-items: center;
}
.second-navbar {
    background-color: #000;
    color: #fff;
    padding: 10px;
    position: static;
    top: 0; /* Espacio para la barra principal */
    left: 0;
    right: 0;
    margin-top: 7.3rem;


}

.second-navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.second-navbar ul li {
    margin: 0;
    padding: 0;
}

.second-navbar ul li a {
    text-decoration: none;
    color: #fff;
}
/* Estilos para el footer */
.footer {
    background-color: #8a0303;
    color: #fff;
    padding: 20px;
    text-align: center;
 /* Posicionamiento absoluto para anclar en la parte inferior */
    bottom: 0; /* Alinea el footer en la parte inferior */
    width: 100%; /* Ocupa todo el ancho de la ventana */
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;

}

.product img {
    max-width: 90%;
    height: 60%;
}


.product-info {
    margin-top: 10px;
}
.product-catalog {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
}

.product-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product {
    flex-basis: calc(25% - 10px);
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.add-to-cart {
    background-color: #8a0303;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.contact-info {
    margin-bottom: 20px;
}

.social-media {
    font-size: 24px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.social-media a img {
    width: 30px; /* Establece el ancho deseado */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}